<article class="card">
  <div class="card-container">

    <div class="card-image">
    </div>

    <div class="content">
      <div class="eyebrow">{{ card.eyebrow }}</div>
      <h1 class="h1">{{ card.title }}</h1>

      <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.4 16" style="enable-background:new 0 0 14.4 16" xml:space="preserve">
          <path d="M14.4 10.4c0-1-.6-1.9-1.5-2.2l1.5-5.6c.1-.2 0-.5-.1-.7-.2-.2-.4-.3-.6-.3H2.6l-.3-1C2.3.2 2 0 1.6 0H0v1.6h1L3 9c.1.4.4.6.8.6H12c.4 0 .8.4.8.8s-.4.8-.8.8H1.6c-.4 0-.8.3-.8.8s.3.8.8.8h1c-.5 1.2.1 2.6 1.4 3.1 1.2.5 2.6-.2 3.1-1.4.2-.5.2-1.1 0-1.6H9c-.5 1.2.2 2.6 1.4 3.1s2.6-.2 3.1-1.4c.2-.7.2-1.4-.2-2 .7-.6 1.1-1.4 1.1-2.2zM11.3 8H4.4L3.1 3.2h9.5L11.3 8zm-6.5 6.4c-.4 0-.8-.3-.8-.8s.3-.8.8-.8h.1c.4 0 .8.4.8.8-.2.4-.5.8-.9.8zm6.4 0c-.4 0-.8-.3-.8-.8s.3-.8.8-.8h.1c.4 0 .8.4.8.8-.2.4-.5.8-.9.8z" style="fill:#fff"/>
        </svg>
        Add to Cart
      </button>
    </div>


  </div>
</article>