/* fraunces-700italic - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fraunces-700.woff2') format('woff2');
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-500.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-700.woff2') format('woff2');
}

// Headers
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  @include font-weight(semibold);
  margin: 0 0 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.h1 {
  @include rem(font-size, 32px);
  @include line-height(32, 32);
  margin-bottom: 16px;

  &.-green {
    color: primary-color(aquamarine);
    margin-bottom: 0;
  }
}

.eyebrow {
  color: primary-color(aurometal);
  @include rem(font-size, 12px);
  @include line-height(14.63, 12);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.line-through {
  color: primary-color(aurometal);
  @include rem(font-size, 13);
  @include line-height(23, 13);
  text-decoration: line-through;
}

p {
  color: primary-color(aurometal);
  @include rem(font-size, 14px);
  @include line-height(23, 14);
  margin-bottom: 24px;
}
